<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.fanfull.handheldtools"
  android:sharedUserId="android.uid.system">

  <!-- android:sharedUserId="android.uid.system" -->
  <uses-permission
    android:name="android.permission.SET_TIME"
    tools:ignore="ProtectedPermissions" />
  <uses-permission
    android:name="android.permission.WRITE_SETTINGS"
    tools:ignore="ProtectedPermissions" />
  <uses-permission
    android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
    tools:ignore="ProtectedPermissions" />

  <!-- 网络相关 -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <!-- SD卡 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:name=".base.BaseApplication"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning"
    tools:replace="android:allowBackup">
    <activity android:name=".ui.BagCheckActivity"></activity>
    <activity
      android:name=".ui.AboutActivity"
      android:launchMode="singleTask" />
    <activity
      android:name=".ui.SocketActivity"
      android:label="@string/main_socket" />
    <activity
      android:name=".ui.InitBag3Activity"
      android:label="@string/main_init_bag3" />
    <activity
      android:name=".ui.OldBagActivity"
      android:label="@string/main_old_bag" />
    <activity
      android:name=".ui.FingerActivity"
      android:label="@string/main_finger" />
    <activity
      android:name=".ui.NfcActivity"
      android:label="@string/main_nfc" />
    <activity
      android:name=".ui.UhfActivity"
      android:label="@string/main_uhf" />
    <activity
      android:name=".ui.BarcodeActivity"
      android:label="@string/main_barcode" />
    <activity
      android:name=".MainActivity"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>